img {
    max-width: 750px;

}

body {
    background-color: hsl(30, 54%, 90%);
}

div.todo {
    margin: 150px;
    padding: 150px;
    background-color: hsl(0, 0%, 100%);
}

h2 {
    color: hsl(14, 45%, 36%) ;
}

h3 {
    color: hsl(332, 51%, 32%)
}

p , li{
    font-size: 16px;
    color: #1c1b1b;
}

ol {
    color:red
}

li {
    padding: 8px;
}

hr {
    height: 0px;
    color: hsl(30, 18%, 87%);
    width: auto;
    margin-left: 22px;
    margin: 22px;
    
}

div.Preparation {
    background-color: hsl(330, 100%, 98%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

h3.titlepreparation {
    padding-left: 15px;
}


/* NOT MY CODE */

ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
  }

  ol li:before {
    font-weight:bold;
    color: hsl(14, 45%, 36%);
    content: counter(list) ".";
    left:-32px;
    position: absolute;
    text-align: right;
    width: 26px;}